# IDE and OS specific files
.vscode/
.idea/
.DS_Store
*.pyc
__pycache__/

# Global log files
*.log

# Strapi's local database file (if it's in the root)
.tmp/

.env
strapi-cms/node_modules/
strapi-cms/.tmp/
strapi-cms/build/
strapi-cms/database.db
strapi-cms/public/uploads/
app.log